.dragzone{
    /*width: 350px;*/
    height: 100px;
    border: 6px dashed  #79aec8;
    overflow: hidden;
    text-align: center;
    line-height: 100px;
    background: rgb(247, 247, 247);
    position: relative;
    margin-bottom: 10px;
}


.file{
    display: none;
}
#add_file{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
}
.blue{
    color: #0077B5;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
    min-height: 100%;
}
.IG {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}
.laporem_lslide{
    position: relative;
    overflow: hidden;
    -webkit-flex: 0 0 20%;
	flex: 0 0 20%;
    min-width: 200px;
    max-height: 200px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.emptySpace{
    position: relative;
    overflow: hidden;
    -webkit-flex: 0 0 20%;
	flex: 0 0 20%;
    min-width: 200px;
    max-height: 200px;
    background: #fffa90;
}
body ul.IG{
    margin: 0;
    list-style: none outside none;
    padding-left: 0;
}
.mslside{
    position: relative;
}
.laporem_field{

}

.files{
    position: relative;
}
.images{
    position: relative;
    display: block;
}
.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: url('../img/load.gif') no-repeat center center white;
    display: none;
    background-size: contain;
}
.dragover{
        background: rgb(228, 228, 228);
}
.laporem_menu{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: -50px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    transition: bottom ease-out 200ms;
}
.laporem_menu .l_ico{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.laporem_menu a[href='None']{
    display: none;
}
.l_ico.setting{
    background: url('../img/ic_settings_black_24dp_2x.png') no-repeat center center;
    background-size: 100%;
}
.l_ico.delete{
    background: url('../img/ic_delete_forever_black_24dp_2x.png') no-repeat center center;
    background-size: 100%;
}
.l_ico.check{
    background: url('../img/ic_check_black_24dp_2x.png') no-repeat center center;
    background-size: 100%;
}
.l_ico.move{
    background: url('../img/ic_code_black_24dp_2x.png') no-repeat center center;
    background-size: 100%;
}

.ui-sortable-helper{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.laporem_lslide:hover .laporem_menu{
    bottom: 0;
}
/*.l_move #images{*/
    /*position: relative;*/
    /*height: auto;*/
    /*overflow: hidden;*/
/*}*/
/*.l_move{*/
    /*height: auto;*/
/*}*/
/*.l_move .laporem_lslide{*/
    /*overflow: hidden;*/
    /*cursor: -webkit-grab;*/
/*}*/
/*.l_move .laporem_lslide .laporem_menu{*/
    /*display: none;*/
/*}*/
.lbtn{
    display: inline-block;
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.lbtn:hover{
    border-color: #cecace;
}
.lmenu{
    margin-bottom: 10px;
}
.cancel_move_laporem{
    display: none;
}
.l_move .cancel_move_laporem{
    display: inline-block;
}
.l_move .move_laporem{
    display: none;
}
.checkblock{
    position: absolute;
    background: url(../img/check.png) no-repeat center center;
    background-size: 10%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}
.checked .checkblock{
    display: block;
}
