{% load staticfiles %}

<div class="laporem_field">
        <div class="lmenu">
            <div class="lbtn move_laporem" onclick="select_all_laporem(this, '{{ name_field }}')">
                Выделить все
            </div>
            <div class="lbtn move_laporem" onclick="delete_laporem_select('{{ laporem_model_file }}','{{ name_field }}')">
                Удалить выделенное
            </div>
        </div>
        <div class="form-group dragzone">
            <a id="add_file" onclick="$('.file', $(this).closest('.laporem_field')).click();return false"><span class="blue">Выберите</span> или пертащите файлы</a>
        </div>

        <input type="hidden" name="base_model" value="{{ base_model }}">
        <input type="hidden" name="{{ name_field }}" value="{{ value }}">
        <div class="files">
            <input name="{{ name_field }}--{{ value }}--{{ laporem_model_file }}--laporem" multiple="multiple" type="file" class="hide file">
            <div class="images">
                <div id="iG-{{ name_field }}" class="cs-hidden IG" data-field="{{ name_field }}" data-laporem-model-file="{{ laporem_model_file }}">
                        {% include 'laporem/images.html' %}
                </div>
            </div>
        </div>
</div>

